*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven build dirs
target/

# Swap files
.nfs*
*.swp
*.swo

# LaTeX files
*.log
*.aux
*.toc
*.pdf


# IDEA stuff
.idea/
.eclipse*
*.iml
